<!-- navbar centred text vertically with  line-height-->
<nav class="navbar navbar-nav navbar-default navbar-fixed-top" style="line-height:60px;height:60px;background-color: #124E59 !important;">
    <div class="container" style="margin:0 !important;">
        <a href="#menu-toggle" class="btn btn-default fa-bars" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <span class="" style="font-size:1.2em;"><a style="color:#f8f8f8" href="/home/">Foodfair</a></span>
    </div>
</nav>
