<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/logo.ico">
    <title>Order Cart Foodfair</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/agency2.css" rel="stylesheet">
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/css/bootstrap-clockpicker.min.css" rel="stylesheet">

</head>

<body>
    <!-- navbar centred text vertically with  line-height-->
    <nav class="navbar navbar-nav navbar-default navbar-fixed-top" style="line-height:60px;height:60px;background-color: #f8f8f8 !important;">
        <div class="container" style="margin:0 !important;">
            <span class="navbar-left" style="font-size:1.2em;"><img src="/static/img/logo.gif" class="logo_bitch"/><a href="/home/">   FOODFAIR</a></span>

        </div>
    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home/">
                        Hello, {{customer.name}}
                    </a>
                </li>
                <li>
                    <a href="/details/">Details</a>
                </li>
                <li>
                    <a href="/history/">Order History</a>
                </li>
                <li>
                    <a href="#">Order Cart</a>
                </li>
                <li>
                    <a href="/logout/">Log out</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div style="margin-top:60px;">

        </div>
<!--
        <a href="#menu-toggle" class="btn btn-default fa-bars" id="menu-toggle">
             <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>-->
        <!-- Page Content -->
        <div id="page-content-wrapper" style="padding:0; margin:0;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="padding:0; margin:0;">
                        <!-- <img src="/static/img/back_rest.jpg" class="cover_photo"> -->

                        <div class= "rest_details">
                            <h1 style="text-align:center;">Order Cart</h1>

                            <hr class="liner"/>
                            <div id="terabaaphumain">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <div class="alert alert-{{message.tags}}"> <strong> <!--{% if message.tags %} class="{{ message.tags }}"{% endif %}>-->{{ message }}</strong></div>
                                {% endfor %}
                            </ul>
                            {% endif %}

                                {% if cart %}
                                <div class="foodtable">
                                    {%for x,y in cart.items%}
                                    <h2>Restaurant : {{x.name}}</h2>
                                    <table class="table">
                                        <thead>
                                            <tr><b>
                                                <th>Item Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                            </b></tr>
                                        </thead>
                                        <tbody>
                                            {%for z in y%}
                                            <tr>
                                                <td>{{z.fooditem.name}}</td>
                                                <td>{{z.fooditem.price}}</td>
                                                <td>{{z.foodqty}}</td>
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>

                                    <div style="margin-top:60px;">
                                    </div>
                                    {%endfor%}
                                </div>
                                {%endif%}

                                {%if cart%}
                                <div class="carttable recommend offset8" style="float:right;padding-bottom:20px !important;">
                                    <h4 class="recoh">Check Out: ${{amount}}</h4>
                                    <hr class="liner" />
                                    <a class="btn btn-primary" href="/clearcart/">Clear</a>
                                    <button class="btn btn-primary"  data-toggle="modal" data-target="#addmenu">Order</button>

                                    <div id="addmenu" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom_modalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <form name="newMenuForm" action='/cart/' method="post" class="signup" onsubmit="return validateForm()">
                                                    {% csrf_token %}
                                                        <p class="title">Order Details</p>
                                                        Amount : ${{amount}}<br/><br/>
                                                        <div class="form-group">
                                                            <label for="pickuptime">Pick-up Time (at least 1 hour later)</label>
                                                            <div class="input-group clockpicker" data-autoclose="true">
                                                                <input name="pickuptime" id="pickuptime" type="text" class="form-control">
                                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-time"></span>
                                                                </span>
                                                            </div>
                                                            <span id="pickuptime_error" class="text-danger"></span>
                                                        </div>
                                                        Are you sure to make order?
                                                        <i class="fa fa-user"></i>
                                                        <button class="btn btn-lg btn-success btn-block" type="submit" a href="#">
                    	                                    <i class="spinner"></i>
                    	                                    <span class="state" type="submit">Order</span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-clockpicker.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(window).on('shown.bs.modal', function(){
        var pickuptime = new Date(+new Date() + 3600000);
        var leadingZero = pickuptime.getHours() < 10 ? '0' : '';
        $('#pickuptime').val(leadingZero+pickuptime.getHours()+':'+pickuptime.getMinutes());
    });

    $('.clockpicker').clockpicker({autoclose: true, twelvehour: false, leadingZeroHours: true, default:'now', fromnow:3600000});
    
    function validateForm() {
        var pickuptime_str = $('#pickuptime').val();
        var pickuptime = new Date('1970-01-02T' + pickuptime_str + ':00');
        var current_time = new Date();
        if ((pickuptime.getHours()*60+pickuptime.getMinutes()) < (current_time.getHours()+1)*60+current_time.getMinutes()){
            $('#pickuptime_error').text("pick-up time must be at least 1 hour later");
            return false;
        }
        return true;
    }        
    </script>
</body>

</html>
