<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/logo.ico">

    <title>History FoodOS</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/mystyle.css" rel="stylesheet">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>
    {% include "navbar.html" %}

    <div id="wrapper">
        {% include "sidebar.html" %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                        <h1 style="padding-left: 20px;">Order History</h1>
                        <hr class="liner"/>

                        <!-- Yes, one card is one order-->
                        {%for order in orders%}
                        <div class="card">
                            {% if order.status == 1 %}
                            <div class="card-header" style="text-decoration: line-through">
                            {% else %}
                            <div class="card-header">
                            {% endif %}
                            Total : ${{order.amount}}
                                <span>
                                <i class="glyphicon glyphicon-calendar blueicon ordercard"></i> {{order.orderdate}}
                                <i class="glyphicon glyphicon-time blueicon ordercard"></i> {{order.ordertime}}
                                <i class="glyphicon glyphicon-cutlery blueicon ordercard"></i> {{order.restaurant_name}}
                                </span>
                                {% if order.id %}
                                <a class="btn btn-primary" href="/cancelorder?orderid={{order.id}}">Cancel</a>
                                {% endif %}
                            </div>
                            {%for fooditem,qty in order.fooditems.items%}
                            <div class="card-block terabaaphumain">
                                <div class="lefty">
                                    <h4 class="card-title">{{fooditem.name}} x {{qty}} </h4>
                                    <p class="card-text">${{fooditem.price}}</p>
                                </div>
                            </div>
                            <div style="padding-top:60px;"></div>
                            {%endfor%}
                        </div>
                        <div style="padding-top:50px;"></div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
